html {
	height: 90%;
}

body {
	height: 90%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

h1 {
	color: #0262b5;
	text-align: center;
	font: italic 30px arial, sans-serif;
	margin: 0;
}

p {
	align-items: center;
} 

#game { 
	background: #7a08d1;
	top: 5em;
}

#background { 
	background: #0262b5;
}

#container {
	position: relative;
}

.canvas { 
	position: absolute; 
	top: 0; 
	left: 0; 
}