body {
    display: flex;
    justify-content: center;
}
h1 {
    position: absolute;
    z-index: 1000;
    display: flex;
    color: #0262b5;
    font: italic 20px arial, sans-serif;
}
button {
    position: absolute;
    z-index: 1000;
    background-color: #ff7ff9;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    top: 8%;
     /* Shadow sourced from https://www.w3schools.com/css/css3_shadows.asp */
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
