body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	justify-content:center;
}

h1 {
	color: #7a08d1;
	text-align: center;
	font: italic 30px arial, sans-serif;
	margin: 0;
}

#game {
	background: linear-gradient(to bottom right, #7a08d1, purple, indigo);
	/* Shadow sourced from https://www.w3schools.com/css/css3_shadows.asp */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top: 5em;
	margin-top: 60px;
}

#background {
	background: linear-gradient(to bottom, #0262b5, indigo);
}

#container {
	position: relative;
  margin-left: -25%;
  margin-right: 0;
}

.canvas {
	position: absolute;
	top: 0;
}

button {
  background-color: #ff7ff9;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
	/* Shadow sourced from https://www.w3schools.com/css/css3_shadows.asp */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
